/***************************************/
/*				SIDEBAR                */
/***************************************/

.sidebar{
	border-radius:0;	
	margin-bottom: 10px;
	padding:15px 15px 15px 15px;
}

.sidebar h3{
    text-align: center;
    color: #0090C5;
    padding:5px;
    margin-top:0 !important; 
}

div.headshot{
    padding:10px;
}

div.headshot img{
    max-height: 220px;
    margin:0 auto;
    border-radius: 25px;
}

div.about-me{
    padding:10px;
}

.sidebar .sidebar-content-post{
    padding:20px;
}
.sidebar .sidebar-content-post p{
    padding-left:15px;
    margin-bottom: 30px;
}

.list-left{
}

.sidebar li{
    line-height: 190%;
    list-style: none;
}

.hobbies{
    list-style: none;
}

div.sidebar .btn{
    margin-top:10px;
}

.sidebar cite{
    text-align: center;
    padding:10px;
}

.sidebar .image-inner i{
    font-size: 10em;
}

/***************************************/
/*			   ABOUT-MAIN              */
/***************************************/

.abt-main h2:after{
    display: block;
	height:1px;
	background-color:#0090C5;
	content: " ";
	width:90%;
	margin-top: 25px;
}

.abt-main p{
    width:90%;
    font-size: 120%;
}

.abt-main ul {
    font-size: 120%;
    list-style: ;
    padding-left: 50px;
}

.about-post{
    padding:15px;
    border-right: 3px solid rgba(0,144,197,0.1);
}

.web-dev-skills{
    padding:10px;
    opacity: 0;
} 

.web-dev-skills img{
    max-height:150px;
    max-width:150px;
    padding:10px;
    margin-bottom:50px;
}

.cta-container a{
    margin: 0 auto;
}
