/*HEADERS*/
h2{
    font-size: 400% !important;
    text-align: center;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #0090C5;
    content: " ";
    width: 100px;
    margin: 50px auto;
}

/***************************************/
/*			INDEX - JUMBOTRON         */
/***************************************/

#jumbotron-index{
	background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.1)),to(rgba(0, 0, 0, 0.7))), url(../images/tell-your-story.jpeg);
	background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 5.0)), url(../images/tell-your-story.jpeg); 
	background-size: cover;
	background-position: center;
	background-attachment: fixed; 
	color:#fff;
    margin-bottom:0;
    height:850px;
}

#jumbotron-index h1{
    font-size: 900%;
    text-shadow: 2px 2px 4px #333;
}

.hero-text-box{
	transform: translate(10%, 50%);
    width:100%;
}

.hero-text-box a{
	text-align: center;
    margin-right: 5px;
    text-shadow: 2px 2px 4px #333;
    box-shadow: 2px 2px 4px #333;
}

/***************************************/
/*			INDEX - SUPPORTING         */
/***************************************/

.supporting{
    margin-top: 25px;
}

.supporting-content{
    text-align: center;
}

.supporting p{
    font-size: 120%;
    width:95%;
}

.supporting h2{
    font-size: 500% !important;
}

.supporting h3{
    margin-top: 0;
    font-size: 155% !important;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.supporting i{
	font-size: 60px;
	margin-bottom: 30px;
}

.supporting-content-item{
}

/***************************************/
/*			INDEX - my-work            */
/***************************************/

/***************************************/
/*			INDEX -TECH IMAGES         */
/***************************************/

/*
.section-tech-items{
	padding:0;
}

.tech-showcase{
	list-style: none;
	width:100%;
}

.tech-showcase li {
	display: block;
	float:left;
	width:20%;
}

.tech-img{
	width:100%;
	margin:0;
	overflow: hidden;
}

.tech-img img{
	opacity: 0.7;
    height:150px;
    width:150px;
	-webkit-transform: scale(1.0);
	transform: scale(1.0); 115% if image size
	-webkit-transition:opacity 0.5s, -webkit-transform 0.5s;
	transition:opacity 0.5s, -webkit-transform 0.5s;
	transition:transform 0.5s, opacity 0.5s;
	transition:transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.tech-img img:hover{
	opacity: 1;
	-webkit-transform: scale(.98);
	transform: scale(.98);
}*/
