/*Medium-Sized laptops 1201 - 1600px */
@media only screen and (max-width : 1600px){
    /*GLOBAL*/
    
    /*INDEX*/
}

/*Small laptops 1025 - 1200px */
@media only screen and (max-width : 1200px){
    /*GLOBAL*/

    /*INDEX*/
    .hero-text-box{
        transform: translate(5%, 50%);
    }
    
    .supporting p{
        font-size: 110% !important;
    }
    
    .supporting h2{
        font-size: 450% !important;
    }

    .supporting h3{
        font-size: 160% !important;
    }

     /*PORTFOLIO*/
    .well-expand{
        display: none;
    }

    .well-text{
        width:90%;
    }
    
    .grid-item img{
        max-height: 140px;
    }
}

/*ipad pro + small desktops 992 - 1024px */
@media only screen and (max-width : 1024px){
    /*    INDEX*/
    #jumbotron-index h1{
        font-size: 10vw;
    }
    
    .hero-text-box{
        transform: translate(10%, 50%);
    }
    
    .hero-text-box a{

    }
    
    .supporting p{
        font-size: 95% !important;
    }
    
    .supporting h3{
        font-size: 123% !important;
    }
    
    /*    ABOUT*/
    
    div.headshot img{
        max-height: 200px;
        float:none;
        margin: 0 auto;
    }
    
    /*    PORTFOLIO*/
    .grid-item img{
        max-height: 108px;
    }
}

/*BOOTSTRAP HEADER BREAK 769 - 991*/
@media only screen and (max-width : 991px){
    /*    INDEX*/
    #jumbotron-index h1{
        font-size: 700%;
    }
    
    .hero-text-box{
        transform: translate(0%, 50%);
        padding:10px;
    }
    
    /*GLOBAL*/
    body{
        font-size: 95%;
    }

    .header-underline{
        border:none;
    }

    /*ABOUT*/
    .sidebar .btn{
        margin-left: 0px;
        margin-top: 0px;
    }
    
    .web-dev-skills img{
        max-height:150px;
        max-width:150px;
    }

    /*    PORTFOLIO*/
    .well-text{
        font-size: 1.8vw;
    }
}

/*ipad 415 - 768 */
@media only screen and (max-width : 768px){

    /*GLOBAL*/
    #social-right li a {
        float: left;
    }
    
    #nav-left-links a {
        padding-top:20px;
        margin:0;
        display:inline-block;
    }
    
    .navbar-defaul .navbar-collapse,
    .navbar-default .navbar-form {
        background: #ecebeb;
        margin-top: 30px;
    }
    
    #social-right img {
        height: 35px;
        width: 35px;
    }
    
    #jumbotron-override{
        padding:70px 0px 50px 0px;
    }
    
    #jumbotron-override h1{
        font-size: 500%;
    }

    #jumbotron-override .long-copy{
        width:60%;
        font-size: 65%;
    }

    /*INDEX*/
    #jumbotron-index h1{
        font-size: 11vw !important;
    }
    
    .hero-text-box{
        padding:7%;
    }
    
    .supporting h2{
        font-size: 300% !important;
    }
    
    .hero-text-box a{
        font-size: 3vw;
    }

        /*ABOUT*/
    div.container{
        padding-right:25px;
    }

    .abt-main h2{
        font-size: 3vw;
    }

    .abt-main p, .abt-main li{
        font-size: 2.2vw;
    }

    .sidebar h3{
        font-size: 3vw !important;
    }

    .sidebar .btn{
        font-size:1.8vw;
    }

    .sidebar li, .sidebar p {
        font-size: 1.8vw;
    }
    
    .web-dev-skills img{
        max-height:100px;
        max-width:100px;
    }
    
    .sidebar .image-inner i{
        font-size: 7em;
    }

      /*PORTFOLIO*/

    .well-text{
        font-size: 2.1vw;
    }
}

/*INDEX - JUMBOTRON SUPPLEMENTAL BREAK*/
@media only screen and (max-width : 648px){
    #jumbotron-index{
        height:700px;
    }
    
    #jumbotron-index h1{
        font-size: 10vw !important;
    }
    .hero-text-box a{
        font-size: 2.5vw;
    }
    
}

/*INDEX - JUMBOTRON SUPPLEMENTAL BREAK2*/
@media only screen and (max-width : 545px){
    #jumbotron-index{
        height:600px;
    }
    
    #jumbotron-index h1{
        font-size: 10.8vw !important;
    }
    
    .hero-text-box{
        padding:1%;
        transform: translate(5%, 50%);
    }
    
    .supporting h2{
        font-size: 8vw !important;
    }
    
}

/*iphone 6 plus 376 - 414px*/
@media only screen and (max-width : 414px){

    /*    GLOBAL*/
    #jumbotron-override h1{
        font-size: 14vw;
    }

    #jumbotron-override .long-copy{
        width: 70%;
        font-size: 100%;
    }
    
    h2{
        font-size: 120% !important;
        text-align: center;
        width:100%;
        margin-bottom: 15px !important;
    }
    
    h2:after{
       display: block;
    }
    
    h2 span{
       border-bottom: none;
       padding-bottom: 0;
    }

    /*    INDEX*/
     
    #jumbotron-index h1{
        font-size: 12vw !important;
    }
    
    .hero-text-box{
     	transform: translate(0%, 100%);
        padding:0;
    }
    
    .hero-text-box a{
        font-size: 3vw;
    }
    
    .supporting-content{
        text-align: center;
    }
    
    .supporting-content i{
        margin-top: 10px;
    }
    
    .supporting-content p{
        font-size: 100% !important;
    }
    
    .supporting h2{
        font-size: 9vw !important;
    }

   /*ABOUT*/
    div.container{
         padding-left: 25px;
     }

    .abt-main h2{
         font-size: 5vw !important;
         text-align: left;
     }

    .abt-main p, .abt-main li{
         font-size: 3.6vw;
     }

    .sidebar h3{
         font-size: 5vw !important;
     }

    .sidebar .btn{
         font-size:3.6vw;
     }

    .sidebar li, .sidebar p {
         font-size: 3.6vw;
     }
    
    .sidebar .image-inner i{
        transform: translate(100%, 0%);
        font-size: 8em;
    }

    /*    PORTFOLIO*/
    .well h2 {
        font-size: 8vw !important;
    }

    .well-text {
        font-size: 3.5vw;
        width:100%;
    }

    .desktop-display {
        display: none;
    }

    .mobile-display {
        display: block;
    }

    .well-img img {
        max-width: 325px;
        padding:0;
    }
    
    .grid-item img{
        max-height: 150px;
    }
}

/*iPhone 6  321 - 375*/
@media only screen and (max-width : 375px){
    /*    GLOBAL*/
    #jumbotron-override h1{
    }

    #jumbotron-override .long-copy{
        font-size: 80%;
    }
    
    /*    INDEX*/

    #jumbotron-index{
        height:550px;
    }
    
    #jumbotron-index h1{
        font-size: 11vw !important;
    }
    
    .supporting-content-item{
     margin-bottom:20px;
    }
    
    /*    PORTFOLIO*/
    .well-text{
        font-size: 4vw;
        width:100%;
    }
}

/*iphone 5* 0 - 320px/*/
@media only screen and (max-width : 320px){
    /*    GLOBAL*/
    #jumbotron-override h1{
    }

    /*    INDEX*/
    #jumbotron-index{
        height: 415px;
    }
    
    #jumbotron-index h1{
        font-size: 12vw;
    }
    
    .hero-text-box{
        transform: translate(0%, 75%);
    }
    
    .hero-text-box a{
        font-size: 2.5vw;
    }
    
    .supporting-content{
        text-align: center;
    }
    
    .supporting-content i{
        margin-top: 10px;
    }
    
    .supporting-content p{
        font-size: 100% !important;
    }
    
    .supporting h2{
        font-size: 9vw !important;
    }
    
/*    ABOUT*/
    
    .sidebar .image-inner i{
        transform: translate(50%, 0%);
        font-size: 8em;
    }
}