@media only screen
and (max-width : 319px){

/*    INDEX*/
    
    #jumbotron-index{
       height:75vh;
    }

    #jumbotron-index h1{
    /*    vertical-align:middle;*/
        font-size: 255% !important;
    }

    .hero-text-box{
        top:50%;
        left:50%;
        width:95%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    .hero-text-box a{
        font-size:100%;
    }
    
    .supporting i{
        font-size: 200%;
    }

    .supporting h2{
        font-size: 200% !important;
    }

    h2:after{
        width: 100px;
        margin: 25px auto;
    }

    .supporting:after{
        margin: 25px auto;    
    }

    .supporting h3{
        font-size: 155% !important;
    }
    
    .supporting p{
        font-size: 100%;
    }
    
    .supporting .btn{
        margin-bottom:50px;
    }
    
/*    about*/
    .abt-main p{
        font-size:120%;
    }
}


/* iPhone 5(portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
/* Styles */
    t
/*    GLOBAL*/
    
    #social-right li a {
        float: left;
    }
    
    #nav-left-links a {
        padding-top:20px;
        margin:0;
        display:inline-block;
    }
    
    .navbar-defaul .navbar-collapse,
    .navbar-default .navbar-form {
        background: #ecebeb;
        margin-top: 30px;
    }
    
    #social-right img {
        height: 35px;
        width: 35px;
    }
    
    #jumbotron-override h1{
        font-size: 280%;
        text-align: center;
    }
    #jumbotron-override .long-copy{
        font-size: 130%;
        text-align: center;
    }
    
    h2{
        font-size: 140% !important;
        text-align: center;
        width:100%;
        margin-bottom: 15px !important;
    }
    
    h2:after{
       display: block;
    }
    
    h2 span{
       border-bottom: none;
	   padding-bottom: 0;
    }
    
/*    INDEX*/
    
    #jumbotron-index{
	   height:75vh;
    }

    #jumbotron-index h1{
    /*    vertical-align:middle;*/
        font-size: 295% !important;
    }

    .hero-text-box{
        top:50%;
        left:50%;
        width:95%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    .hero-text-box a{
        font-size:100%;
    }
    
    .supporting i{
        font-size: 200%;
    }

    .supporting h2{
        font-size: 200% !important;
    }

    h2:after{
        width: 100px;
        margin: 25px auto;
    }

    .supporting:after{
        margin: 25px auto;    
    }

    .supporting h3{
        font-size: 155% !important;
    }
    
    .supporting p{
        font-size: 100%;
    }
    
    .supporting .btn{
        margin-bottom:50px;
    }
    
/*    about*/
    .abt-main p{
        font-size:120%;
    }
    
/*    portfolio*/
    .well-text{
        width:100%;
        font-size: 90%;
    }
    
    .well-img img{
        width:100%;
        margin-left:10%;
    }

    div.grid-item{
        border-bottom: 0.1px solid black;
    }
}

/* iPhone 6(portrait and landscape) ----------- */
@media only screen
and (min-width : 375px)
and (max-width : 667px) {
/* Styles */
    
/*    GLOBAL*/

    #social-right li a {
        float: left;
    }
    
    #nav-left-links a {
        padding-top:20px;
        margin:0;
        display:inline-block;
    }
    
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        background: #ecebeb;
        margin-top: 30px;
    }
    
    #social-right img {
        height: 35px;
        width: 35px;
    }
    #jumbotron-override h1{
        font-size: 280%;
        text-align: center;
    }
    #jumbotron-override .long-copy{
        font-size: 130%;
        text-align: center;
    }
    
    h2{
        font-size: 140% !important;
        text-align: center;
        width:100%;
        margin-bottom: 15px !important;
    }
    
    h2:after{
       display: block;
    }
    
    h2 span{
       border-bottom: none;
	   padding-bottom: 0;
    }
    
/*    INDEX*/
    
    #jumbotron-index{
	   height:75vh;
    }

    #jumbotron-index h1{
    /*    vertical-align:middle;*/
        font-size: 340% !important;
        width:100%;
    }

    .hero-text-box{
        top:50%;
        left:50%;
        width:93%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    .hero-text-box a{
        font-size:120%;
    }
    
    .supporting{
    }

    .supporting h2{
        font-size: 245% !important;
    }

    h2:after{
        width: 100px;
        margin: 25px auto;
    }

    .supporting:after{
        margin: 25px auto;    
    }

    .supporting h3{
        font-size: 175% !important;
    }
    
    .supporting .btn{
        margin-bottom:50px;
    }
    
/*    about*/
    .abt-main p{
        font-size:120%;
    }
    
/*    portfolio*/
    .well-text{
        width:100%;
        font-size: 90%;
    }
    
    .well-img img{
        width:100%;
        margin-left:10%;
    }

    div.grid-item{
        border-bottom: 0.1px solid black;
    }
}

/* iPhone 6 Plus(portrait and landscape) ----------- */
@media only screen
and (min-width : 414px)
and (max-width : 667px) {
    
    /*    INDEX*/
    
    #jumbotron-index{
	   height:75vh;
    }

    #jumbotron-index h1{
    /*    vertical-align:middle;*/
        font-size: 400% !important;
        width:100%;
    }

    .hero-text-box{
        top:45%;
        left:50%;
        width:97%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    .hero-text-box a{
        font-size:120%;
    }
    
    .supporting{
    }

    .supporting h2{
        font-size: 245% !important;
    }

    h2:after{
        width: 100px;
        margin: 25px auto;
    }

    .supporting:after{
        margin: 25px auto;    
    }

    .supporting h3{
        font-size: 175% !important;
    }
    
    .supporting .btn{
        margin-bottom:50px;
    }

}


 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
/* Styles */
/*    GLOBAL*/
    #jumbotron-override h1{
    }
    #jumbotron-override .long-copy{
        width:69%;
    }
    
/*    Index*/
    
    #jumbotron-index{
	   height:75vh;
    }

    .hero-text-box{
        top:45%;
        left:50%;
        width:90%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-40%,-50%);
    }
    
    
    #jumbotron-index h1{
        font-size: 600%;
    }
    
    .supporting h2{
        font-size: 400% !important;
        text-align: center;
    }
    
    .supporting{
	   text-align: center;
    }   

    .supporting p{
        font-size: 100%;
    }

    .supporting h3{
        margin-top: 0;
        font-size: 150% !important;
        width:100%;
    }
    
    
/*    About*/
    h2{
        font-size: 180% !important;
    }
    
    .sidebar .btn {
    margin-left: 0px;
    margin-top: 30px;
}

/*    Portfolio*/
    .well-expand {
        display:none;
    }
    
    .well-text{
        width:90%;
        font-size:100%;
    }

    .grid-item p{
        font-size: 90%;
    }   
}

/* iPad Pro (portrait and landscape) ----------- */
@media only screen
and (min-width : 1024px)
and (max-width : 1366px){
    
    #jumbotron-index{
	   height:85vh;
    }

    .hero-text-box{
        top:45%;
        left:50%;
        width:100%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-40%,-50%);
    }
    
    .supporting{
    }

    .supporting h2{
        font-size: 450% !important;
    }        
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
    
        .supporting h2{
        font-size: 500% !important;
        text-align: center;
    }

        a.btn-large{
        color:#fff;
        font-size: 180%;
        margin-top: 20px;
        border:2px solid #fff;
        transition: background-color 0.4s, color 0.4s;   
    }
}