/*------------------------------------*\
    COLORS
\*------------------------------------*/
$colorPrimary:#0090C5;
$colorSecondary:#EF3E36;

$colorLink:#EF3E36;
$colorText:#333;

//Gray Scale
$colorWhite:#fff;
$colorGraySuperLight:#f7f7f7;
$colorGrayLight:#e8e8e8;
$colorGrayMid:#999;
$colorGrayDark:#606060;

$colorPrimaryMid:#fff;
$colorPrimaryLight:#fff;
$bg-pattern:#fff;
$colorPrimaryDark:#fff;
$colorTextDark:#fff;
$colorTextMuted:#fff;
/*------------------------------------*\
    GRID
\*------------------------------------*/
$grid-width:120rem;
$grid-gutter-vertical:1rem;

$grid-gutter-vertical-small:1rem;
$grid-gutter-horizontal:6rem;

/*------------------------------------*\
   font-size
\*------------------------------------*/
$default-font-size:1.6rem;


$gradient-blue-red: linear-gradient(to right, rgba(241,111,92,1) 0%, rgba(0,144,197,1) 0%, rgba(0,144,197,0.95) 34%, rgba(239,64,54,0.89) 72%, rgba(239,64,54,0.85) 100%);
