/* BUTTONS */
.btn{
	padding: 1.5rem 1.5rem;
	border: 1px solid transparent;
	display: inline-block;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	text-transform:uppercase;	
    border-radius: .2rem;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
    
    &--master{ //For more prominent hero or jumbo components.
        padding:1.5rem 1.5rem;
    }

    &--primary{
        border:2px solid $colorSecondary;
        background-color:transparent;
        color:#fff;
    /* 	transition: background-color 0.4s, color 0.4s; */
        font-weight:bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);  

        transition: background-color 0.4s, color 0.4s;
        transition-property: background-color, color;
        transition-duration: 0.4s, 0.4s;
        transition-timing-function: initial, initial;
        transition-delay: initial, initial;
    
    }
    
    

    &--primary:hover{
        color:#fff;
        border:2px solid $colorSecondary;
        background-color:$colorSecondary;
    }
    
    &--secondary{
        font-weight:bold;
        color:$colorTextDark;
        background-color:$colorPrimaryLight;
    /* 	transition: background-color 0.4s, color 0.4s; */
    }
        
    &--form{
        border:none !important;
        width:35% !important;
        
    }

    &--secondary:hover{
        color:$colorTextDark;
        background-color:$colorPrimaryLight;
    }
        
    &--text{
        color: $colorPrimaryMid;
        display: inline-block;
        border-bottom: 1px solid $colorPrimaryMid;
        padding: 3px;
        -webkit-transition: all .2s;
        transition: all .2s; 
    }
        
    &--text:hover{
        background-color: $colorPrimaryMid;
        color: #fff;
        -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
}

//WP EXCERPT OVERRIDE

.view-article{
    color: $colorPrimaryMid;
    display: inline-block;
    border-bottom: 1px solid $colorPrimaryMid;
    padding: 3px;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.view-article:hover{
    background-color: $colorPrimaryMid;
    color: #fff;
    -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);    
}