/* BUTTONS */
.btn{
	padding: 1.5rem 1.5rem;
	display: inline-block;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	text-transform:uppercase;	
    border-radius: .2rem;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
    
    &--primary{
        border:2px solid $colorSecondary;
        background-color:transparent;
        color:#fff;
        font-weight:bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);  

        transition: background-color 0.4s, color 0.4s;
        transition-property: background-color, color;
        transition-duration: 0.4s, 0.4s;
        transition-timing-function: initial, initial;
        transition-delay: initial, initial;
    }
    
    &--primary:hover{
        color:#fff;
        border:2px solid $colorSecondary;
        background-color:$colorSecondary;
    }
    
    &--secondary{  
        border:2px solid $colorPrimary;
        background-color:transparent;
        color:#fff;
        font-weight:bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);  

        transition: background-color 0.4s, color 0.4s;
        transition-property: background-color, color;
        transition-duration: 0.4s, 0.4s;
        transition-timing-function: initial, initial;
        transition-delay: initial, initial;
    }
        
    &--secondary:hover{
        color:#fff;
        border:2px solid $colorPrimary;
        background-color:$colorPrimary;
    }
        
    &--white{  
        border:2px solid #fff;
        background-color:#fff;
        color:#333;
        font-weight:bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);  

        transition: background-color 0.4s, color 0.4s;
        transition-property: background-color, color;
        transition-duration: 0.4s, 0.4s;
        transition-timing-function: initial, initial;
        transition-delay: initial, initial;
    }
        
    &--white:hover{
        background-color:rgba(255, 255, 255, .8);
        border:2px solid rgba(255, 255, 255, .8);
    }
        
    &--solidblue{  
        background-color:$colorPrimary;
        color:#fff;
        font-weight:bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);  

        transition: background-color 0.4s, color 0.4s;
        transition-property: background-color, color;
        transition-duration: 0.4s, 0.4s;
        transition-timing-function: initial, initial;
        transition-delay: initial, initial;
    }
        
    &--solidblue:hover{
        background-color:rgba(0, 144, 197, 0.83);
    }
        
    &--master{ //For more prominent hero or jumbo components.
        padding:1.5rem 1.5rem;
    }
        
    &--medium{
        padding:1rem 1rem;
        font-size: 1.6rem;
    }
    
    &--small{
        padding:.5rem .5rem;
        font-size: 1.4rem;
    }
        
    &--form{
        width:35% !important;   
    }
        
    &--darktext{
        color:#333;
        text-shadow: none;  
    }
        
    &--lighttext{
        color:#fff;        
    }
        
    &--text{
        color: #fff;
        font-size:1.8rem;
        display: inline-block;
        padding: 3px; 
    }
        
    &__body-text{
        text-decoration: none;
        color: $colorPrimary;
        display: inline-block;
        border-bottom: 1px solid $colorPrimary;
        -webkit-transition: all .2s;
        transition: all .2s; 
    }
        
    &__body-text:hover{

        background-color: $colorPrimary;
        color: #fff;
        -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
}

//WP EXCERPT OVERRIDE

.view-article{
    color: $colorPrimaryMid;
    display: inline-block;
    border-bottom: 1px solid $colorPrimaryMid;
    padding: 3px;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.view-article:hover{
    background-color: $colorPrimaryMid;
    color: #fff;
    -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);    
}