.feature{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center top;
    display:table;
    margin:0 auto;
    width:100%;
    position:relative;
    padding: 50px 50px;
    transition:background-size 0.5s;
    min-height: 50rem;

    &__content{
        display:table-cell;
        position:relative;
        z-index:2;
        color:rgba(255,255,255,0.9);
        transition:color 0.5s ease-in-out; 
    }
    
    &__content:hover{
        color:rgba(255,255,255,1);
    }
    
    &__title{
        margin:2rem 0;
    }
    
    &__info-group{
        line-height:2.8rem;
        display:block;
        margin:2rem 0;
    }
    
    &__button-container{
        display:block;
        margin:2rem 0;
    }
     
    &--text-white{
        color:#fff;
    } 
}

/*Shaded overlay */
.feature::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.6);
  transition:background-color 0.5s linear;
}

.feature:hover:after{
  background-color:rgba(0,0,0,.9);
}