.feat-proj{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 2.5rem);
    grid-gap: 1rem;
    
    //WRAPPER styles
    max-width: 120rem;
    margin: 0 auto;
    overflow: hidden;
    padding: .5rem 2rem;
    
    &__background{
        background-color: #333;
        grid-column: 3 / span 4;
        grid-row: 1 / span 8;
        box-shadow: 1px 1px 2px;
    }
    
    &__image-container{
        grid-column: 2 / span 2;
        grid-row: 3 / span 5;
        overflow: hidden;
        max-height: 15rem;   
    }
    
    &__image{
        box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.4);
    }
    
    &__text-container{
        grid-column: 4 / span 3;
        grid-row: 2 / span 6;
        
        color:#fff;
        padding: 0 2rem;
        
        display:grid;
    }
    
    &__logo-cont{
        align-self: flex-end;
    }
    
    &__logo-image{
        max-height: 5rem;
    }
    
    &__logo-text{
        font-size: 1.6rem;
        color:#fff;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    &__title{
        font-size: 2.8rem;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        align-self: center;
    }
    
    &__txt-link{
        font-size: 1.8rem;
        font-weight: normal;
        color:#fff;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        align-self: flex-end;
        
    }
    
    &__icon{
        margin-left:1rem;
        font-weight: normal;
    }
}