.hero{
    overflow:hidden;
    color:#fff;
    height:85vh;
    background-size: cover;
    background-position:right bottom;
    position: relative;
    margin-top: 9rem;
    
    &--blog{
        height:50vh;
        background:no-repeat center center fixed;
        margin-top: 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    &__content{
        position: absolute;
        top:50%;
        left:52%;
        transform: translate(-50%,-50%);
        text-align: left;
        padding:0 2rem;
        width: 100%;
        
        @include respond(phone-land){
            left:55%;
        }
        
        @include respond(phone){
            left:60%;
        }
    }
    
    &__content--blog{
        left:50%;
    }
    
    &__btn-container{
        padding:3rem 0;
        display: block;
    }
    
    &__title{
        font-size: 6rem;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        max-width: 75%;
        
        @include respond(phone){
            max-width: 95%;
        }
        
        &::after{
            content: "";
            display: block;
            height: 3px;
            width: 27rem;
            background: $colorSecondary;
            margin-top: 3rem;
            margin-bottom: 3rem;   
        }
    }
    
    &__title--blog{
        text-align: center;
        max-width: 100%;
        
        &::after{
            display: none;
        }
    }
    
    &__text{
        font-size: 2.2rem;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);  
        max-width: 40%;
        
        @include respond(phone-land){
            max-width: 55%;
        }
        
        @include respond(phone){
            max-width: 80%;
        }
    } 
}