.hero{
    overflow:hidden;
    color:#fff;
    height:85vh;
    background-size: cover;
    background-position:right bottom;
    position: relative;
    margin-top: 9rem;
    
    @include respond(phone-land){
        
//        height:60vh;
    }

    
    &__content{
        position: absolute;
        top:50%;
        left:52%;
        transform: translate(-50%,-50%);
        text-align: left;
        padding:0 2rem;
        width: 100%;
        
        @include respond(phone-land){
            left:55%;
        }
        
        @include respond(phone){
            left:60%;
        }
    }
    
    &__btn-container{
        padding:3rem 0;
        display: block;
    }
    
    &__title{
        font-size: 6rem;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        max-width: 75%;
        
        @include respond(phone){
            max-width: 95%;
        }
        
        &::after{
            content: "";
            display: block;
            height: 3px;
            width: 27rem;
            background: $colorSecondary;
            margin-top: 3rem;
            margin-bottom: 3rem;   
        }
    }
    
    &__text{
        font-size: 2.2rem;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);  
        max-width: 40%;
        
        @include respond(phone-land){
            max-width: 55%;
        }
        
        @include respond(phone){
            max-width: 80%;
        }

    } 
}

.hero--inner{
    padding: 6rem 0 !important;
    overflow:hidden;
}