.hero {
    overflow:hidden;
    color:#fff;
//    margin-bottom: 4rem;

    height:90vh;
    background-size: cover;
    background-position:right bottom;
    position: relative;
    margin-top: 5rem;
    
    &__content{
        position: absolute;
        top:50%;
        left:37%;
        transform: translate(-50%,-50%);
        text-align: left;
        padding:0 2rem;
    }
    
    &__btn-container{
        padding:3rem 0;
        display: block;
    }
    
    &__title{
        font-size: 6rem;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);  
        
        &::after{
            content: "";
            display: block;
            height: 3px;
            width: 27rem;
            background: $colorSecondary;
            margin-top: 3rem;
            margin-bottom: 3rem;   
        }
    }
    
    &__text{
        font-size: 2.2rem;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);  

    }
    
    &__text{
        width:60%;
    }
}



