.main-nav{
    z-index: 1;
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid $colorGrayLight;
//    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
//    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
//    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    border-radius: .2rem;

    &__menu{
        display: table;
    }
    
    &__menu-item{
        font-size: 1.8rem;
        display: table-cell;
        width: 1%;
        vertical-align: middle;
        padding: 0 1rem;
        text-align: center;
    }
    
    &__menu-link{
        color:#333;
    }
    
    &__social{
        
    }
    
    &__social img{
        
    }
    
    &__logo{
        
    }
    
    &__logo img{
        max-width: 15rem;
    }
}