.page-intro{
    padding: 6rem 0 6rem 0 !important;
    
    &__header-container{
        
    }
    
    &__text-box p, &__text-box ul{
        font-size: 2rem;
        padding-top: 2rem;
        max-width:96rem;
        margin:0 auto;
        list-style: circle;
    }
    
    &__text-box ul{
        padding-left:5rem;
    }
    
    &__text-box li{
        line-height: 145%;        
    }
}