.header{

    padding: 6rem 0 6rem 0 !important;
        
    &__main{ //h1 Front Page
        
        font-size:6.5rem;
        margin-bottom:0px;
        text-shadow: 1px 0px 1px rgba(150, 150, 150, 1);
        
        @include respond(tab-port){
            font-size: 7rem;
        }
        
        @include respond(phone){
            font-size: 4rem;
        }   
    }
    
    &__page-title{ //h1 -- inside pages
        font-size: 7rem;
        margin-bottom: 3rem;
        position: relative;
        font-weight: 100;
        
        &:after{
            content: "";
            display: block;
            height: 3px;
            width: 10%;
            background-color: #0090c5;
            margin-top: 3rem;
            margin-bottom: 3rem;
            position: absolute;
            top:80%;
            left:50%;
            transform: translate(-50%,-50%);
        }
    }
    
    &__text-container p, &__text-container ul{
        font-size: 2rem;
        padding-top: 2rem;
        max-width:96rem;
        margin:0 auto;
        list-style: circle;
    }
    
    &__text-container ul{
        padding-left:5rem;
    }
    &__text-container li{
        line-height: 145%;
    }
}