.port{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .1rem;
    color:#fff;
    
    @include respond(phone-land){
        grid-template-columns: 1fr;
    }
    
    &__card{
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        padding-top: 2rem;
    }
    
    &__card:after{
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index: 0;
        background-color:rgba(0,0,0,0.2);
        
        transition:background-color 0.5s ease-in-out;
    }
    
    &__card:hover:after{
        background-color:rgba(0, 0, 0, .85);
    }
    
    &__card > *{
        z-index: 1;
    }
        
    &__logo{
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;   
        padding-right: 1rem;
    }
    
    &__title{
        grid-column: 2 / span 3;
        grid-row: 3 / span 2;
        
        @include respond(tab-landscape){
            transform: translateY(4rem);
        }
        
        font-size: 3rem;
        line-height: 145%;
        padding-top: 1rem;
        text-shadow: 1px 1px 1px #000;
    
        transform: translateY(8rem);
        opacity: 1;
        
        transition: all 0.5s ease-in-out;
    }
    
    &__card:hover &__title{
        transform: translateY(0);
        color:$colorSecondary;
    }
        
    &__plist{
        grid-column: 2 / span 3;
        grid-row: 2 / span 1;
        font-size: 1.8rem;
        align-self: flex-end;      
        
        transform: translateX(1000px);
        opacity: 0;
        
        transition: all 0.5s ease-in-out;
    }
    
    &__card:hover &__plist{
        opacity: 1;
        transform: translateX(0);   
    }
    
    &__plist-item{
        display: inline;
        border-right: 1px solid #fff;
        padding:0 .5rem;
    }
    
    &__plist-item:last-child{
        border:none;
    }
    
    &__btn-container{
        grid-column:2 / span 2;
        grid-row: 5 / span 1;
        
        opacity: 0;        
        transition: all 0.5s ease-in-out;
    }
    
    &__card:hover &__btn-container{
        opacity: 1;
    }
}