.promo{
    
    max-width: 100rem;
    padding: 3rem 0;
    margin: 0 auto;
    
    &__text-container{
        color:#fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }
    
    &__title{
        font-size: 3.6rem;
        margin-bottom: 1rem;
        line-height: 145%;

    }
    
    &__title--large{
        font-size: 4rem;
        margin-bottom: 2rem;
        
        @include respond(phone-land){
            text-align: left;
            font-size: 3rem;
            max-width: 70rem;
        }
        
        @include respond(phone-land){
            font-size: 2.5rem;
        }
    }
    
    &__title--scale{
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    
    &__text{
        font-size: 1.8rem; 
        max-width: 95%;
        line-height: 145%;
    }
    
    &__button-container{
        padding:4rem 0;
    }
    
    &__button-container--center{
        margin: 0 auto;
        width:25%;
        
        @include respond(phone-land){
            margin:0;
        }
    }
    
    &__btn-text{
        font-size: 2.2rem;
    }
    
}