.promo{
    max-width: 100rem;
    padding: 5rem 0;
    margin: 0 auto;
    
    &__text-container{
        color:#fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        margin-left: 10rem;
    }
    
    &__title{
        font-size: 3.2rem;
    }
    
    &__text{
        font-size: 1.8rem; 
        margin-top: 1rem;
        max-width: 80%;
    }
    
    &__button-container{
        padding:4rem 0;
    }
}