.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .2rem;
    background-color:#333;
        
    &__card{
        padding:5rem 5rem;
        color:#fff;
        min-height: 45rem;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
    }
    
    &__card::after{
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index: 0;
        background-color:rgba(0,0,0,0.7);
        
        transition:background-color 0.5s ease-in-out;
    }
    
    &__card:hover{
        cursor: pointer;
    }
    
    &__card:hover &__title {
        color:$colorSecondary;
    }
    
    &__card:hover:after{
        background-color:rgba(0, 0, 0, .95);
    }
    
    &__content{
        z-index: 1;
    }
        
    &__title{
        font-size: 4rem;
        position: relative;
        margin-bottom: 2rem;
        text-align: center;
        
        transition: color 0.4s, color 0.4s;
        transition-property: color, color;
        transition-duration: 0.7s, 0.7s;
        transition-timing-function: initial, initial;
        transition-delay: initial, initial;
        
        animation-name: fadeInTop;
        animation-duration: 1.3s;
    }
    
    &__title:after{    
        content: "";
        display: block;
        height: 3px;
        width: 30%;
        background-color: $colorSecondary;
        margin-top: 1rem;
        position: absolute;
        left:50%;
        transform: translate(-50%,-50%);
    }
    
    &__description{
        font-size: 1.8rem;
        line-height: 145%;
        margin-bottom: 3rem;
        text-align: center;
        
        animation-name:fadeInBottom;
        animation-duration: 1.3s;
    }
    
    &__link{   
        font-size: 1.8rem;
        color:#ec7a75;
        text-align: center;
        display: block;
    }
}