.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .2rem;
        
    &__card{
        padding:5rem 5rem;
        color:#fff;
        min-height: 45rem;
        display: flex;
        align-items: center;   
    }
    
    &__title{
        font-size: 4rem;
        position: relative;
        margin-bottom: 2rem;
        text-align: center;
    }
    
//    &__title:after{
//        
//        content: "";
//        display: block;
//        height: 3px;
//        width: 30%;
//        background-color: $colorSecondary;
//        margin-top: 4rem;
//        position: absolute;
//        top:30%;
//        left:50%;
//        transform: translate(-50%,-50%);
//    
//    }
    
    &__description{
        font-size: 1.8rem;
        line-height: 145%;
        margin-bottom: 3rem;
        text-align: center;
    }
    
    &__link{   
        font-size: 1.8rem;
        color:#fff;
        text-align: center;
        display: block;
    }
}