.text-block{

    margin:3rem auto;
    
    &__title{
        font-size: 2.2rem;
        line-height: 145%;
    }
    
    &__title:after{
        
        content: "";
        display: block;
        height: 3px;
        width: 15rem;
        background: $colorPrimary;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    &__text{
        font-size: 1.6rem;
        line-height: 145%;
    }
}