.e-fade-in-top {
  animation-name: fadeInTop;
  animation-duration: 1.3s;
}
.e-fade-in-bottom {
  opacity: 0;
  animation-name: fadeInBottom;
  animation-duration: 1.3s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}
.e-scale-up-center {
  -webkit-animation: scaleUpCenter 1.2s ease-in-out both;
  animation: scaleUpCenter 1.2s ease-in-out both;
}
.e-fade-in-back {
  -webkit-animation: fade-in-back 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-back 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/**
 * ----------------------------------------
 * Fades
 * ----------------------------------------
 */
@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-in-back {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-back {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * scales
 * ----------------------------------------
 */
@-webkit-keyframes scaleUpCenter {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleUpCenter {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* 
 0-600 : Phone
 600 - 700 : Phone - Landscape
 700-900 : Tablet - Portrait
 900-1200 : Tablet - Landscape
 [1200 - 1800] : Normal Styles
 1800 + : Big Desktop
 */
@font-face {
  font-family: 'Font-Name';
  src: url('fonts/font-name.eot');
  src: url('fonts/font-name.eot?#iefix') format('embedded-opentype'), url('fonts/font-name.woff') format('woff'), url('fonts/font-name.ttf') format('truetype'), url('fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
h1, h2, h3, h4 {
  letter-spacing: 1.4px;
  margin: 0;
}
p {
  line-height: 145%;
}
.header {
  color: #000;
}
.header--large {
  font-size: 7rem;
  margin-bottom: 3rem;
  position: relative;
  font-weight: 100;
}
.header--large:after {
  content: "";
  display: block;
  height: 3px;
  width: 10%;
  background-color: #0090c5;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header--xlarge {
  font-size: 6.5rem;
  margin-bottom: 0px;
  text-shadow: 1px 0px 1px rgba(150, 150, 150, 1);
}
@media (max-width: 56.25em) {
  .header--xlarge {
    font-size: 7rem;
  }
}
@media (max-width: 37.5em) {
  .header--xlarge {
    font-size: 4rem;
  }
}
.section__title {
  font-size: 4rem;
  position: relative;
}
@media (max-width: 56.25em) {
  .section__title {
    font-size: 3rem;
    text-align: center;
  }
}
.section__title--inner {
  font-size: 3rem;
}
.section__title:after {
  content: "";
  display: block;
  height: 3px;
  width: 10%;
  background-color: #0090c5;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section__title--secondary {
  font-size: 3rem;
}
@media (max-width: 37.5em) {
  .section__title--secondary {
    font-size: 2.5rem;
  }
}
.section__text {
  font-size: 1.6rem;
  line-height: 145%;
  margin: 2rem auto;
  width: 50%;
}
.bio__content {
  font-size: 1.6rem;
  line-height: 145%;
}
.bio__content--small {
  font-size: 1.4rem;
}
.btn {
  font-size: 1.6rem;
  line-height: 145%;
}
.btn--master {
  font-size: 1.8rem;
}
@media (max-width: 37.5em) {
  .btn--master {
    font-size: 1.6rem;
  }
}
.btn--text {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
}
.view-article {
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
}
.card--stacked__text {
  font-size: 1.4rem;
  line-height: 145%;
  width: 80%;
}
.card--stacked__text p {
  text-align: center;
}
.card--stacked__title {
  font-size: 2rem;
  line-height: 145%;
  text-align: center;
}
.card--stacked__links {
  text-align: center;
}
.card--stacked__links a {
  font-size: 1.4rem;
}
.card__single-title {
  text-align: left;
  font-size: 2.8rem;
  font-weight: 100;
  line-height: 145%;
}
.card__single-title--sm {
  font-size: 2.2rem;
}
.card__single-title-link {
  font-weight: 100;
}
.card__single-dates p, .card__single-prices p {
  font-size: 1.6rem;
  font-weight: bold;
}
.card__single-location {
  font-size: 1.8rem;
}
.feature__content {
  font-size: 1.8rem;
}
.feature__title {
  font-size: 4rem;
}
.footer__social-content p, .footer__social-content li {
  font-size: 1.8rem;
}
.footer__copyright-content {
  text-align: center;
  font-size: 1.4rem;
}
.footer__menu-content .menu-item a:link, .footer__menu-content .menu-item a:visited {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
}
.wpcf7 {
  font-size: 1.6rem;
}
.header__mobile-nav {
  text-align: center;
}
.header__mobile-nav--burgernav {
  font-size: 2.5rem;
}
.hero__list-item {
  font-size: 4rem;
}
@media (max-width: 56.25em) {
  .hero__list-item {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .hero__list-item {
    font-size: 2rem;
  }
}
.hero__description {
  font-size: 1.8rem;
  max-width: 85%;
}
.main-nav__items li {
  line-height: 145%;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 43.75em) {
  .main-nav__items li {
    text-align: center;
  }
}
.resume {
  font-size: 1.6rem;
  line-height: 145%;
}
.servo-box {
  font-size: 1.6rem;
  text-align: center;
}
.servo-box__title {
  text-align: right;
  font-size: 2.6rem;
  font-weight: 300;
  text-transform: uppercase;
  width: 75%;
}
.servo-box__details li {
  text-align: center;
  font-size: 1.6rem;
}
.social-bar__items li {
  line-height: 145%;
  font-size: 2.2rem;
  text-align: center;
}
.text-block {
  line-height: 145%;
  font-size: 1.6rem;
  max-width: 85%;
}
.text-block--full-width {
  max-width: 70%;
}
.text-block--intro {
  font-weight: bold;
  line-height: 145%;
  font-size: 1.6rem;
}
.text-block--promo {
  font-size: 1.8rem;
  line-height: 145%;
}
.text-block__title--promo {
  font-size: 3.5rem;
  line-height: 145%;
}
.text-block__tagline--promo {
  font-size: 2.5rem;
  line-height: 145%;
}
.text-block__item {
  font-size: 1.8rem;
}
.text-block__info-bar {
  font-weight: bold;
}
.title-text-image__title {
  text-align: left !important;
  font-size: 2.2rem;
}
.title-text-image__text {
  font-size: 1.4rem;
  line-height: 145%;
}
/*------------------------------------*\
 COLORS
 \*------------------------------------*/
/*------------------------------------*\
 GRID
 \*------------------------------------*/
/*------------------------------------*\
 font-size
 \*------------------------------------*/
/* global box-sizing */
*, *:after, *:before {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}
body {
  /* 	font:300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
/* font-family: 'Oswald', sans-serif;
 font-family: 'Raleway', sans-serif;
 font-family: 'Merriweather', serif;
 font-family: 'Lora', serif;
 font-family: 'Arimo', sans-serif; */
/*IMAGE BASE */
img {
  max-width: 100%;
  vertical-align: bottom;
  border-radius: 0.2rem;
}
.size-medium {
  width: 30rem;
}
/*LINKS */
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
ol, ul {
  list-style: none;
}
.no-hover:hover {
  border-bottom: transparent;
}
.inherit {
  color: inherit;
  font-weight: inherit;
}
.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
.u-no-tb-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.u-no-t-margin {
  margin-top: 0 !important;
}
.u-tb-margin-20 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.u-width-100 {
  width: 100%;
}
.u-tb-padding-40 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.u-t-margin-50 {
  margin-top: 3rem;
}
@media (max-width: 56.25em) {
  .u-t-margin-50 {
    margin-top: 0;
  }
}
.u-color-primary {
  color: #0090c5;
}
.u-color-secondary {
  color: #ef3e36;
}
.u-color-primary-light {
  color: #fff;
}
.u-color-primary-mid {
  color: #fff;
}
.u-color-gray-light {
  color: #e8e8e8;
}
.u-color-gray-mid {
  color: #999;
}
.u-color-gray-dark {
  color: #606060;
}
.u-bgcolor-primary {
  background-color: #0090c5;
}
.u-bgcolor-secondary {
  background-color: #ef3e36;
}
.u-bgcolor-graylight {
  background-color: #e8e8e8;
}
.u-bgcolor-dark {
  background-color: #333;
}
.u-bgcolor-gradred {
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(239, 64, 54, 1) 0%, rgba(239, 64, 54, 0.75) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(0%, rgba(239, 64, 54, 1)), color-stop(100%, rgba(239, 64, 54, 0.75)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(239, 64, 54, 1) 0%, rgba(239, 64, 54, 0.75) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(239, 64, 54, 1) 0%, rgba(239, 64, 54, 0.75) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(239, 64, 54, 1) 0%, rgba(239, 64, 54, 0.75) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(239, 64, 54, 1) 0%, rgba(239, 64, 54, 0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ef4036', GradientType=1);
}
.u-bgcolor-gradblack {
  background: #333;
  background: -webkit-linear-gradient(left, rgba(51, 51, 51, 1) 0%, rgba(83, 83, 83, 1) 75%, rgba(111, 111, 111, 1) 100%);
  background: -o-linear-gradient(left, rgba(51, 51, 51, 1) 0%, rgba(83, 83, 83, 1) 75%, rgba(111, 111, 111, 1) 100%);
  background: linear-gradient(to right, rgba(51, 51, 51, 1) 0%, rgba(83, 83, 83, 1) 75%, rgba(111, 111, 111, 1) 100%);
}
.background-fade {
  background-color: #aac2ce;
}
.e-overlay-fade {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.e-overlay-fade:hover {
  opacity: 0;
}
.e-image-scale img {
  transform: scale(1.1);
}
.u-accent {
  color: #0090c5;
}
.u-text-center {
  text-align: center;
}
.u-text-bold, .u-text-bold p {
  font-weight: 700;
}
.u-padding-top-15 {
  padding-top: 9rem;
}
.u-d-iblock {
  display: inline-block;
}
.u-a-flxend {
  align-self: flex-end;
}
.clear-fix {
  clear: both;
}
/*------------------------------------*\
 MISC
 \*------------------------------------*/
::selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}
/*------------------------------------*\
 WORDPRESS CORE
 \*------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption .wp-caption-text, .gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
/*------------------------------------*\
 PRINT
 \*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
.allabout {
  text-align: center;
  padding: 2rem 0;
  opacity: 0;
}
.allabout__content-container {
  padding: 2rem 0;
}
.allabout__subheader {
  font-size: 2.6rem;
  padding-top: 1rem;
}
.allabout__text {
  font-size: 1.6rem;
  padding: 2rem 0;
}
.allabout__icon {
  font-size: 10rem !important;
  color: #0090c5;
}
.banner {
  background-color: #0090c5;
  background-image: #fff;
  background-size: 7rem 10.2rem;
  overflow: hidden;
  color: #fff;
  margin-bottom: 4rem;
}
.banner__text-container {
  align-items: center;
}
.banner__list-item {
  display: inline-block;
  margin-right: 1rem;
}
.banner__bullet::before {
  background-color: #fff;
  content: "";
  display: inline-block;
  margin: 2px;
  padding: 5px;
  box-shadow: 0 2px 0 0 #000;
}
.banner__image {
  align-self: flex-end;
  justify-self: start;
}
@media (max-width: 43.75em) {
  .banner__image {
    display: none;
  }
}
.banner__image img {
  box-shadow: none;
}
.bio {
  display: block;
  max-width: 60rem;
  margin: 0 auto;
}
.bio__image {
  float: left;
  margin: 2rem;
  width: 25rem;
}
.bio__image--small {
  width: 20rem;
  margin-right: 1rem;
}
.bio__image img {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
  background-color: #fff;
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
.bio__content {
  margin-right: 2.5rem;
  margin-bottom: 2.5rem;
}
.bio__content--small {
  margin: 0;
}
.bio__content p {
  margin: 1rem 0;
}
@media (max-width: 56.25em) {
  .bio__content p {
    max-width: 50rem;
  }
}
/*    border-bottom: 2px solid #e5e5e5;*/
.blog-post__image {
  overflow: hidden;
  max-height: 350px;
  margin-bottom: 30px;
}
.blog-post__content {
  margin: 20px 0;
}
.blog-post__title {
  margin: 20px 0;
  color: #000;
  display: inline-block;
}
.blog-post__link {
  display: inline-block;
  font-size: 1.6rem;
}
.blog-post:after {
  background: #e5e5e5;
  content: "";
  display: block;
  height: 1px;
  /*    margin: 0.75em auto;*/
  width: 85%;
}
/* BUTTONS */
.btn {
  padding: 1.5rem 1.5rem;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  text-transform: uppercase;
  border-radius: 0.2rem;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4);
}
.btn--primary {
  border: 2px solid #ef3e36;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  transition: background-color 0.4s, color 0.4s;
  transition-property: background-color, color;
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: initial, initial;
  transition-delay: initial, initial;
}
.btn--primary:hover {
  color: #fff;
  border: 2px solid #ef3e36;
  background-color: #ef3e36;
}
.btn--secondary {
  border: 2px solid #0090c5;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  transition: background-color 0.4s, color 0.4s;
  transition-property: background-color, color;
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: initial, initial;
  transition-delay: initial, initial;
}
.btn--secondary:hover {
  color: #fff;
  border: 2px solid #0090c5;
  background-color: #0090c5;
}
.btn--white {
  border: 2px solid #fff;
  background-color: #fff;
  color: #333;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  transition: background-color 0.4s, color 0.4s;
  transition-property: background-color, color;
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: initial, initial;
  transition-delay: initial, initial;
}
.btn--white:hover {
  background-color: rgba(255, 255, 255, .8);
  border: 2px solid rgba(255, 255, 255, .8);
}
.btn--solidblue {
  background-color: #0090c5;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  transition: background-color 0.4s, color 0.4s;
  transition-property: background-color, color;
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: initial, initial;
  transition-delay: initial, initial;
}
.btn--solidblue:hover {
  background-color: rgba(0, 144, 197, 0.83);
}
.btn--master {
  padding: 1.5rem 1.5rem;
}
.btn--medium {
  padding: 1rem 1rem;
  font-size: 1.6rem;
}
.btn--small {
  padding: 0.5rem 0.5rem;
  font-size: 1.4rem;
}
.btn--form {
  width: 35% !important;
}
.btn--darktext {
  color: #333;
  text-shadow: none;
}
.btn--lighttext {
  color: #fff;
}
.btn--text {
  color: #fff;
  font-size: 1.8rem;
  display: inline-block;
  padding: 3px;
}
.btn__body-text {
  text-decoration: none;
  color: #0090c5;
  display: inline-block;
  border-bottom: 1px solid #0090c5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn__body-text:hover {
  background-color: #0090c5;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.view-article {
  color: #fff;
  display: inline-block;
  border-bottom: 1px solid #fff;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.view-article:hover {
  background-color: #fff;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.card--stacked__single {
  margin: 1rem 0;
  padding-bottom: 1.5rem;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.4);
  background-color: #f7f7f7;
}
.card--stacked__image {
  max-height: 25rem;
  overflow: hidden;
}
.card--stacked__image img {
  width: 100%;
  padding: 0;
}
.card--stacked__text {
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.card--stacked__text p {
  margin-bottom: 1rem;
}
.card--stacked__title {
  margin: 1rem 0;
}
.card--stacked__links a {
  margin-right: 1rem;
}
.card__single {
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
@media (max-width: 37.5em) {
  .card__single {
    border-bottom: none;
  }
}
@media (max-width: 37.5em) {
  .card__single {
    max-width: 40rem;
  }
}
.card__single-title {
  text-shadow: 1px 0px 1px rgba(150, 150, 150, 1);
}
.card__single-title-link {
  color: #000;
}
.card__single-title-link:hover {
  border-bottom: 2px solid #000;
}
.card__single-image--mxh {
  max-height: 30rem;
}
@media (max-width: 37.5em) {
  .card__single-image {
    padding: 1rem 0;
  }
}
@media (max-width: 37.5em) {
  .card__single-details {
    padding: 1rem 0;
  }
}
.card__single-dates p, .card__single-prices p {
  color: #fff;
}
.feature {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: table;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 50px 50px;
  transition: background-size 0.5s;
  min-height: 50rem;
}
.feature__content {
  display: table-cell;
  position: relative;
  z-index: 2;
  color: rgba(255, 255, 255, 0.9);
  transition: color 0.5s ease-in-out;
}
.feature__content:hover {
  color: rgba(255, 255, 255, 1);
}
.feature__title {
  margin: 2rem 0;
}
.feature__info-group {
  line-height: 2.8rem;
  display: block;
  margin: 2rem 0;
}
.feature__button-container {
  display: block;
  margin: 2rem 0;
}
.feature--text-white {
  color: #fff;
}
/*Shaded overlay */
.feature::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  transition: background-color 0.5s linear;
}
.feature:hover:after {
  background-color: rgba(0, 0, 0, .9);
}
.feat-proj {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 2.5rem);
  grid-gap: 1rem;
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 0.5rem 2rem;
}
.feat-proj__background {
  background-color: #333;
  grid-column: 3 / span 4;
  grid-row: 1 / span 8;
  box-shadow: 1px 1px 2px;
}
.feat-proj__image-container {
  grid-column: 2 / span 2;
  grid-row: 3 / span 5;
  overflow: hidden;
  max-height: 15rem;
}
.feat-proj__image {
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.4);
}
.feat-proj__text-container {
  grid-column: 4 / span 3;
  grid-row: 2 / span 6;
  color: #fff;
  padding: 0 2rem;
  display: grid;
}
.feat-proj__logo-cont {
  align-self: flex-end;
}
.feat-proj__logo-image {
  max-height: 5rem;
}
.feat-proj__logo-text {
  font-size: 1.6rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.feat-proj__title {
  font-size: 2.8rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  align-self: center;
}
.feat-proj__txt-link {
  font-size: 1.8rem;
  font-weight: normal;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  align-self: flex-end;
}
.feat-proj__icon {
  margin-left: 1rem;
  font-weight: normal;
}
.footer {
  padding: 8rem;
  background-color: #333;
}
.footer__menu-content ul {
  list-style: none;
}
.footer__social-content {
  padding: 5rem 0;
  text-align: center;
}
.footer__copyright-content {
  color: #fff;
  padding: 5rem 0;
}
.footer .menu-item i._mi {
  font-size: 2em;
}
.footer__menu-content .menu-item a:link, .footer__menu-content .menu-item a:visited {
  color: #fff;
  text-decoration: none;
  padding: 1.5rem;
  display: block;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, .05);
}
.footer__menu-content .menu-item a:hover, .footer__menu-content .menu-item a:active {
  background-color: rgba(255, 255, 255, .08);
  transform: translateY(-3px);
  border-bottom: transparent;
}
.footer__social-content .menu-item a:link, .footer__social-content .menu-item a:visited {
  color: #fff;
  display: block;
  transition: all 0.2s;
  background-color: transparent;
}
.footer__social-content .menu-item a:hover, .footer__social-content .menu-item a:active {
  background-color: transparent;
  transform: translateY(-3);
  border-bottom: transparent;
}
div.wpcf7 {
  width: 50%;
  margin: 0 auto;
}
div.wpcf7 .field {
  margin-bottom: 20px;
}
div.wpcf7 input, div.wpcf7 textarea {
  border: 3px solid #0090c5;
  border-radius: 0.2rem;
  padding: 15px 10px;
  width: 100%;
}
#wpcf7-f506-o1 {
  width: 100%;
}
.hero {
  overflow: hidden;
  color: #fff;
  height: 85vh;
  background-size: cover;
  background-position: right bottom;
  position: relative;
  margin-top: 9rem;
}
.hero__content {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  text-align: left;
  padding: 0 2rem;
  width: 100%;
}
@media (max-width: 43.75em) {
  .hero__content {
    left: 55%;
  }
}
@media (max-width: 37.5em) {
  .hero__content {
    left: 60%;
  }
}
.hero__btn-container {
  padding: 3rem 0;
  display: block;
}
.hero__title {
  font-size: 6rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  max-width: 75%;
}
@media (max-width: 37.5em) {
  .hero__title {
    max-width: 95%;
  }
}
.hero__title::after {
  content: "";
  display: block;
  height: 3px;
  width: 27rem;
  background: #ef3e36;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.hero__text {
  font-size: 2.2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  max-width: 40%;
}
@media (max-width: 43.75em) {
  .hero__text {
    max-width: 55%;
  }
}
@media (max-width: 37.5em) {
  .hero__text {
    max-width: 80%;
  }
}
.hero--inner {
  padding: 6rem 0 !important;
  overflow: hidden;
}
.logo {
  text-align: center;
  margin-bottom: 20px;
}
/*LOGO DESKTOP STYLES */
@media only screen and (min-width: 768px) {
  .logo {
    float: left;
    text-align: left;
    margin-bottom: 0;
  }
  .logo-img {
    max-height: 73px;
  }
}
.main-nav {
  position: fixed;
  width: 100%;
  background-color: #f7f7f7;
  z-index: 1000;
  color: #333;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.75);
}
.main-nav__logo-container {
  text-align: left;
  position: relative;
  border-radius: 0.2rem;
}
@media (max-width: 56.25em) {
  .main-nav__logo-container {
    background-color: #f7f7f7;
  }
}
.main-nav__logo-image {
  max-width: 18rem;
}
.main-nav__mobile-icon {
  display: none;
}
@media (max-width: 56.25em) {
  .main-nav__mobile-icon {
    font-size: 2.2rem;
    display: block;
    position: absolute;
    font-size: 4rem;
    top: 2rem;
    right: 2rem;
  }
}
.main-nav__mobile-icon i {
  background: #0090c5;
  padding: 5px;
  color: #fff;
}
.main-nav__menu {
  display: table;
}
@media (max-width: 56.25em) {
  .main-nav__menu {
    display: none;
    padding: 0 2rem;
    border-radius: 0.2rem;
  }
}
.main-nav__menu li {
  font-size: 2rem;
  display: table-cell;
  width: 1%;
  vertical-align: middle;
  padding: 3.3rem 0;
  text-align: center;
}
@media (max-width: 56.25em) {
  .main-nav__menu li {
    display: block;
    width: 100%;
    font-size: 3rem;
    padding: 1.5rem 0;
    font-weight: bold;
    border-bottom: 1px solid #e8e8e8;
    text-align: left;
  }
  .main-nav__menu li:last-child {
    border-bottom: none;
  }
}
.main-nav__menu li a {
  color: #333;
}
.main-nav__social {
  padding: 3rem 3rem;
}
@media (max-width: 56.25em) {
  .main-nav__social {
    display: none;
    text-align: center;
    font-size: 1.5rem;
  }
}
.main-nav__social li {
  margin: 0 0.5rem;
  text-align: center;
  display: inline;
}
.main-nav__social a {
  color: #0090c5;
}
.main-nav__social i {
  font-size: 4em !important;
}
.current-menu-item {
  border-bottom: 3px solid #0090c5;
}
.fa-facebook-official:hover {
  color: #4266b2;
}
.fa-linkedin-square:hover {
  color: #0076b5;
}
.fa-github-square:hover {
  color: #6e5494;
}
.header {
  padding: 6rem 0 6rem 0 !important;
}
.header__main {
  font-size: 6.5rem;
  margin-bottom: 0px;
  text-shadow: 1px 0px 1px rgba(150, 150, 150, 1);
}
@media (max-width: 56.25em) {
  .header__main {
    font-size: 7rem;
  }
}
@media (max-width: 37.5em) {
  .header__main {
    font-size: 4rem;
  }
}
.header__page-title {
  font-size: 7rem;
  margin-bottom: 3rem;
  position: relative;
  font-weight: 100;
}
.header__page-title:after {
  content: "";
  display: block;
  height: 3px;
  width: 10%;
  background-color: #0090c5;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__text-container p, .header__text-container ul {
  font-size: 2rem;
  padding-top: 2rem;
  max-width: 96rem;
  margin: 0 auto;
  list-style: circle;
}
.header__text-container ul {
  padding-left: 5rem;
}
.header__text-container li {
  line-height: 145%;
}
.port {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.1rem;
  color: #fff;
}
.port__card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 2rem;
}
.port__card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease-in-out;
}
.port__card:hover:after {
  background-color: rgba(0, 0, 0, .85);
}
.port__card > * {
  z-index: 1;
}
.port__logo {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  padding-right: 1rem;
}
.port__title {
  grid-column: 2 / span 3;
  grid-row: 3 / span 2;
  font-size: 3rem;
  line-height: 145%;
  padding-top: 1rem;
  text-shadow: 1px 1px 1px #000;
  transform: translateY(80px);
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.port__card:hover .port__title {
  transform: translateY(0);
  color: #ef3e36;
}
.port__plist {
  grid-column: 2 / span 3;
  grid-row: 2 / span 1;
  font-size: 1.8rem;
  align-self: flex-end;
  transform: translateX(1000px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.port__card:hover .port__plist {
  opacity: 1;
  transform: translateX(0);
}
.port__plist-item {
  display: inline;
  border-right: 1px solid #fff;
  padding: 0 0.5rem;
}
.port__plist-item:last-child {
  border: none;
}
.port__btn-container {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.port__card:hover .port__btn-container {
  opacity: 1;
}
.port__card--fw {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.port__title--fw {
  font-size: 3rem;
  line-height: 145%;
  padding-top: 1rem;
  grid-column: 2 / span 3;
  grid-row: 3 / span 1;
}
.port__logo--fw {
  grid-column: 2 / span 1;
  grid-row: 2/ span 1;
}
.port__plist--fw {
  grid-column: 4 / span 2;
  grid-row: 2/ span 1;
  font-size: 1.8rem;
}
.port__plist-item--fw {
  display: inline;
}
.promo {
  max-width: 100rem;
  padding: 3rem 0;
  margin: 0 auto;
}
.promo__text-container {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.promo__title {
  font-size: 3.6rem;
  margin-bottom: 1rem;
  line-height: 145%;
}
.promo__title--large {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.promo__title--scale {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.promo__text {
  font-size: 1.8rem;
  max-width: 95%;
  line-height: 145%;
}
.promo__button-container {
  padding: 4rem 0;
}
.promo__button-container--center {
  margin: 0 auto;
  width: 25%;
}
.promo__btn-text {
  font-size: 2.2rem;
}
.resume h3, .resume h4, .resume p {
  margin-bottom: 1rem;
  max-width: 60rem;
}
.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.2rem;
  background-color: #333;
}
.services__card {
  padding: 5rem 5rem;
  color: #fff;
  min-height: 45rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.services__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.5s ease-in-out;
}
.services__card:hover {
  cursor: pointer;
}
.services__card:hover .services__title {
  color: #ef3e36;
}
.services__card:hover:after {
  background-color: rgba(0, 0, 0, .95);
}
.services__content {
  z-index: 1;
}
.services__title {
  font-size: 4rem;
  position: relative;
  margin-bottom: 2rem;
  text-align: center;
  transition: color 0.4s, color 0.4s;
  transition-property: color, color;
  transition-duration: 0.7s, 0.7s;
  transition-timing-function: initial, initial;
  transition-delay: initial, initial;
  animation-name: fadeInTop;
  animation-duration: 1.3s;
}
.services__title:after {
  content: "";
  display: block;
  height: 3px;
  width: 30%;
  background-color: #ef3e36;
  margin-top: 1rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services__description {
  font-size: 1.8rem;
  line-height: 145%;
  margin-bottom: 3rem;
  text-align: center;
  animation-name: fadeInBottom;
  animation-duration: 1.3s;
}
.services__link {
  font-size: 1.8rem;
  color: #ec7a75;
  text-align: center;
  display: block;
}
.servo-box {
  background-color: rgba(255, 255, 255, .8);
  border-radius: 0.2rem;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
  position: relative;
}
.servo-box--small {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  position: relative;
  min-height: 27.5rem;
  margin: 1rem 0;
}
.servo-box:hover {
  transform: translateY(-0.1rem) scale(1.01);
}
.servo-box__photo {
  background-blend-mode: overlay;
  background-size: cover;
  height: 23rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
.servo-box__title {
  position: absolute;
  top: 15rem;
  right: 2rem;
  color: #fff;
}
.servo-box__title-span {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  padding: 0.2rem 1.5rem;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, .85), rgba(255, 255, 255, .85));
}
.servo-box__details {
  padding: 3rem;
}
.servo-box__details ul {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.servo-box__details li {
  padding: 1rem;
  border-bottom: 1px solid #eee;
}
.servo-box__details a {
  padding: 1rem;
}
.social-bar {
  background-color: #66fcf1;
  height: 4rem;
}
.social-bar__items {
  padding: 0;
  margin: 0;
  float: right;
}
.social-bar__items li {
  display: inline-block;
  margin: 0 1rem;
}
.social-bar__items li a {
  text-transform: uppercase;
  padding: 2px 2px;
}
.social-bar__items li a span {
  display: none;
}
.social-bar__items a:hover {
  border: none;
}
.social-bar .l-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.social-bar .menu-item i._before, .rtl .menu-item i._after {
  color: #0b0c10 !important;
}
.social-bar .menu-item i._before, .rtl .menu-item i._after {
  margin: 0;
  color: #e8e8e8;
}
.text-block {
  margin: 3rem auto;
}
.text-block__title {
  font-size: 2.2rem;
  line-height: 145%;
}
.text-block__title:after {
  content: "";
  display: block;
  height: 3px;
  width: 15rem;
  background: #0090c5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.text-block__text {
  font-size: 1.6rem;
  line-height: 145%;
}
.row {
  max-width: 120rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 1rem;
}
@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 56.25em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
@media (max-width: 56.25em) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}
.l-grid-main {
  display: grid;
  grid-template-columns: 2fr 0.9fr;
  grid-gap: 3rem;
}
@media (max-width: 56.25em) {
  .l-grid-main {
    grid-template-columns: 1fr;
  }
}
.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
}
.grid-auto--short {
  grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
  justify-content: center;
}
.grid-121-offset {
  display: grid;
  grid-template-columns: 15rem 3fr 15rem;
  align-items: center;
  grid-gap: 2rem;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}
@media (max-width: 43.75em) {
  .grid2--1col-phone-land {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 37.5em) {
  .grid2--1col-phone {
    grid-template-columns: 1fr;
  }
}
.grid-3fr-1fr {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
@media (max-width: 43.75em) {
  .grid-3fr-1fr {
    grid-template-columns: 1fr;
  }
}
/* COLUMNS */
footer .l-grid1-3 {
  justify-items: center;
}
.section {
  overflow: hidden;
}
.section:last-child {
  margin-bottom: 0;
}
.section__image {
  margin-bottom: 3rem;
}
.section__image img {
  max-width: 85%;
  max-height: 50rem;
}
.section__title {
  margin: 4rem 0;
}
.section__title--inner {
  margin: 2rem 0;
}
.section__title--secondary {
  margin: 4rem 0;
}
.sidebar {
  margin: 0 auto;
  max-width: 40rem;
  min-width: 35rem;
}
.sidebar__widget-container {
  margin-bottom: 2rem;
  border-bottom: 1px solid #e5e5e5;
  padding: 1rem;
  overflow: hidden;
}
.sidebar__widget-container:last-child {
  border-bottom: none;
}
.sidebar__widget-title {
  box-shadow: 1px 1px 2px #333;
  padding: 2rem;
  background-color: #202934;
  background-image: #fff;
  color: #fff;
  margin-bottom: 1rem !important;
}
.sidebar__content-block {
  margin: 10px 0;
}
.l-wrapper {
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2rem;
}
.l-wrapper--narrow {
  max-width: 90rem;
  width: 100%;
  position: relative;
}
