.section{
    overflow:hidden;
    
    &:last-child{
        margin-bottom: 0;
    }
    
    &__image{
        margin-bottom: 3rem;
        
        img{
            max-width: 85%;
            max-height: 50rem;
        }
    }
    
    &__title{
       margin:4rem 0;
        
        &--inner{
            margin: 2rem 0;
        }
    }
    
    &__title--secondary{
        margin:4rem 0;
    }
}