/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:inherit;
	box-sizing:inherit;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
    margin:0;
    padding:0;
}

body {
/* 	font:300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif; */
	background-color:#fff;
	font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
/* font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Lora', serif;
font-family: 'Arimo', sans-serif; */

/*IMAGE BASE */
img{
	max-width:100%;
	vertical-align:bottom;
    border-radius: .2rem;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
}

.size-medium{
    width:30rem;
}

/*LINKS */
a{
	color:$colorPrimaryMid;
	text-decoration:none;
}

ol,ul{
	list-style:none;
}

.no-hover:hover{
    border-bottom: transparent;
}

.inherit{
    color:inherit;
    font-weight: inherit;
}

.preload{ //Prevents transitions from firing on load. Removed in main.js
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}