/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:inherit;
	box-sizing:inherit;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
    margin:0;
    padding:0;
}

body {
/* 	font:300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif; */
	background-color:#fff;
	font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Lora', serif;
font-family: 'Arimo', sans-serif; */

/*IMAGE BASE */
img{
	max-width:100%;
	vertical-align:bottom;
    border-radius: .2rem;    
}

.size-medium{
    width:30rem;
}

/*LINKS */

//a{
//    text-decoration: none;
//    color: $colorPrimary;
//    display: inline-block;
//    border-bottom: 1px solid $colorPrimary;
//    -webkit-transition: all .2s;
//    transition: all .2s; 
//}
//a:hover{
//
//    background-color: $colorPrimary;
//    color: #fff;
//    -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
//    box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
//    -webkit-transform: translateY(-2px);
//    transform: translateY(-2px);
//
//}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

ol,ul{
    list-style: none;
}

.no-hover:hover{
    border-bottom: transparent;
}

.inherit{
    color:inherit;
    font-weight: inherit;
}

.preload{ //Prevents transitions from firing on load. Removed in main.js
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}