//MARGIN
.u-no-tb-margin{
    margin-top:0 !important;
    margin-bottom:0 !important;
}

.u-tb-margin-20{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.u-tb-padding-40{
    padding-top:4rem;
    padding-bottom: 4rem;
}

.u-t-margin-50{
    margin-top:3rem;
    
    @include respond(tab-port){
        margin-top: 0;
    }
}
//PADDING



//********  COLORS **********
.u-color-primary{
    color:$colorPrimary;
}

.u-color-secondary{
    color:$colorSecondary;
}

.u-color-primary-light{
    color:$colorPrimaryLight;
}

.u-color-primary-mid{
   color:$colorPrimaryMid;
}

.u-color-gray-light{
    color:$colorGrayLight;
}

.u-color-gray-mid{
    color:$colorGrayMid;
}

.u-color-gray-dark{
    color:$colorGrayDark
}

//******** BACKGROUND COLORS **********

.u-bgcolor-primary{
    background-color: $colorPrimary;
}

.u-bgcolor-secondary{
    background-color: $colorSecondary;
}

.u-bgcolor-graylight{
    background-color: $colorGrayLight;
}

.u-bgcolor-dark{
    background-color: #333;
}

.u-bgcolor-gradred{
    @include gradred;
}

.background-fade{
	background-color:#aac2ce;
}

//******** EFFECTS **********

.e-overlay-fade{
  background: rgba(0,0,0,0.5);
	opacity: 1;
  transition:opacity .5s ease;
}

.e-overlay-fade:hover{
	opacity:0;
}

.e-image-scale img{
	transform:scale(1.10);
}

//********FORMATTING**********

.u-text-center{
    text-align: center;
}

.u-text-bold, .u-text-bold p{
    font-weight:700;
}

.u-padding-top-15{
    padding-top: 15rem;
}

.u-d-iblock{
    display: inline-block;
}

.u-a-flxend{
    align-self: flex-end;
}

.clear-fix{
	clear:both;
}